.checkbox {
    margin: 10px;
}

.card {
    width: 20rem;
    margin: 0 auto 20px;
}

.card_header {
    background-color: white ;
}

.card a {
    color: black;
    font-size: 20px;
}

.active {
    border: 1px solid blue;
}

.done {
    border: 1px solid green;
}

.checked {
    border: 1px solid red;
}



.desc {
    width: 290px;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}